<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="0.14.0-build20632" targetFramework="wpa81" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.14.0-build20632" targetFramework="wpa81" />
  <package id="Microsoft.ApplicationInsights.WindowsPhone" version="0.14.0-build20632" targetFramework="wpa81" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.16-beta" targetFramework="wpa81" />
</packages>